 
 .info {
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none; 
 }
 
 .ycyc{
   width: 50px;
   height: 5px;
 }
 ul{

   list-style-type: none;
   background-color: rgb(255, 255, 255);
   margin: 0;
   padding: 0;
   overflow: hidden;
   list-style: none;
}

.cut{
   float: right;
   position: relative;
   left: 30%;
}
.cut1{
   float: left;
   position: relative;
   right:30%;
}

li a{

   display:block;
   text-align: center;
   text-decoration: none;
   padding: 15px 18px;
   border: 1px solid #ffffff;
}
li a:hover{
   background-color: #da6420;
   color: rgb(207, 102, 41);
}
li{
   float: left;
} 
li a:visited{
   color: #2000d4;
}
body{
   background-image: url(images/1234.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
@media screen and(max-width: 300px) {
   li a{font-size: 10px;}
}